@media only screen and (max-width: 1024px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 737px) {

    /* info page*/
    .column {
        float: left;
        min-width: 100%;
        padding: 10px;
        min-height: 300px; /* Should be removed. Only for demonstration */
    }

    /* kalender page */
    .th-header{
        font-size: 10px;
    }
}

@media only screen and (max-width: 390px) {

}





/* Footer */

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}