/* Primaire kleuren*/

.white{
    color: white;
}

.black{
    color: black;
}

.gray{
    color: gray;
}

.green{
    color: green;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

/* specefieke kleuren */

.pink{
    color: pink;
}

.purple{
    color: purple;
}